<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <property resource="application.properties"/>

<!--    <if condition='"${logstash.address}".contains("profile1")'>-->
    <if condition='isDefined("${logstash.address}")'>
        <then>
            <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <destination>${logstash.address}</destination>
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
            <root>
                <appender-ref ref="stash"/>
            </root>
        </then>
    </if>
<!--    todo в какой-то момент были логи конфигурации логбека, и там было написано, что мол stash не используется-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>