<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <property resource="application.properties"/>

<!--    <if condition='isDefined("${logstash.host}") &amp;&amp; isDefined("${logstash.port}")'>-->
<!--        <then>-->
            <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <destination>localhost:5044</destination>
                <!--                <destination>${logstash.host}:${logstash.port}</destination>-->
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
<!--        </then>-->
<!--    </if>-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="stash"/>
    </root>
</configuration>